<h2>Contact Me</h2>

<div class="card-container">
     <!-- Todo: add php code to make submit work (automatically send email to the owner's email address) -->
     <!--action="contact_form.php" method = 'post'-->

      <form>

        <label> Name </label>
        <input type="text" id="name" name="name" placeholder="Your name..">

        <label> Email </label>
        <input type="text" id="email" name="email" placeholder="Your email..">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>

        <input type="submit" value="Submit">

      </form>

</div>