<h2>Contact Me</h2>
<div class="card-container">

      <form action="https://formsubmit.co/tianhui_xu@minerva.kgi.edu" method="POST">

        <label> Name </label>
        <input type="text" id="name" name="name" placeholder="Your name..">

        <label> Email </label>
        <input type="text" id="email" name="email" placeholder="Your email..">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>

        <button type="submit" value="Submit"></button>

      </form>

  </div>