.wrapper {
  width: 100%;
  height: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.stick {
  position: fixed;
  z-index: 1;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  top: 0;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

.navbar img {
  height: 35px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;

}

.nav-item a {
  color: transparent;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.3s ease-out;
  position: relative;
  display: block;
  -webkit-text-stroke: 0.5px #f5f5f5;
  user-select: none;

  &:hover {
    color: #ffffff;
    -webkit-text-stroke: 0.5px #212121;
    transition: 0.25s;

  }

  &:hover::before {
    transform: translate(12px, -12px);
    color: #ff1744;
    -webkit-text-stroke: 1px #212121;
  }

  &:hover::after {
    transform: translate(24px, -24px);
    color: #4dd0e1;
    -webkit-text-stroke: 1px #212121;
  }


  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
  }
}



.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #1d539f;
    width: 100%;
    height: 320px;
    transform: translate(-105%);
    text-align: center;
    overflow: hidden;
    z-index: 1;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1C539F;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.darkModeContainer {
  position: relative;
  right: -8px;
  color: white;

  .blue-rectangle {
    width: 60px;
    height: 35px;
    display: inline-block;
    border-radius: 30px;
    background-color: #2f7cff;
    position: relative;

    .white-circle {
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: 2px;
      cursor: pointer;
    }
  }

  .dark-text {
    position: absolute;
    margin-left: 5px;
    font-size: 20px;
  }
}

.toggleRight {
  right: 3px;
  transition: all 0.4s ease-in;
}